# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Unrelated original binary files
Presenatation_Slides.pptx
Technical_Report.pdf

# Model artifacts & Large raw data files
data/raw/*.csv
data/raw/*.json
models/*.pkl
models/*.joblib
!data/processed/yelp_sample_businesses.csv
!data/processed/yelp_sample_reviews.csv

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Local database
*.db
*.sqlite3
